.header {
  width: 100vw;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 30px;

  background: var(--primary-color);
  color: var(--main-color);
}
