.input {
  height: 35px;
  padding: 0 15px;

  border-radius: 20px;
  outline-offset: 0;
  outline: 2px solid var(--secondary-color);
  border: 2px solid var(--primary-color);

  background: var(--main-color);
  color: var(--primary-color);
  transition: box-shadow 0.3s ease-in, outline 0.3s ease-in;

  &:focus {
    outline: 2px solid var(--main-color);
  }

  &:hover {
    box-shadow: 0 0 10px 1px var(--add-color);
  }
}

.checkbox {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: none;
  outline: none;
}
