.card {
  position: relative;
  width: 300px;
  height: 430px;
  box-shadow: 0 70px 63px -60px var(--primary-color);
  border-radius: 15px;
  background-color: var(--primary-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: none;
  transition: background 0.8s, filter 1s;
  background-repeat: no-repeat;
  background-position: center;

  .border {
    width: 280px;
    height: 410px;
    border-radius: 10px;
    transition: border 1s, backdrop-filter 1s;
    display: flex;
    flex-direction: column;
  }

  .title {
    padding: 10px;
    font-size: 2.4rem;
    color: var(--add-color);
    opacity: 0;
    margin-bottom: auto;
    transition: opacity 1s;
  }

  .info-box {
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: var(--add-color);
    opacity: 0;
    transition: opacity 1s;

    .info {
      padding: 0 0 5px;
    }
  }

  &:hover {
    filter: saturate(0%);

    .border {
      border: 1px solid var(--add-color);
      backdrop-filter: brightness(60%) contrast(150%);
    }

    .title {
      opacity: 1;
    }

    .info-box {
      opacity: 1;
    }
  }
}
